.comic-list {
  display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: stretch;
  grid-template-columns: repeat(6, 1fr); /* Sei colonne per riga */
  gap: 20px;
  margin-top: 50px;
}

.comic-item {
  width: 20px;
}